body
{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right top,lightblue,lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{
  background-color: rgba(255, 255, 255,.3);
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(67, 66, 66, 0.3);
  border-radius: 10px;
  width: 60%;
  max-width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.face-emojis,.star-img
{
  height: 30px;
}

.image-div,.star-div
{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}